




.App{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.Table__container{
    width: 480px;
    height: 280px;
}
.table{
    border: aqua 1px solid;
}
.thead{
    border: aqua 1px solid;
    padding: 20px;
}
.button{
    cursor: pointer;
}
.li{
    list-style: none;
}
.ul{
    display: flex;
}